

.layot{
margin-left: 0px;
border: white solid 2px;
margin-top: 100px;
height: 400px;
width: 700px;
background-color: white;
}
.layot2{
    margin-left: 0px;
    border: white solid 2px;
    margin-top: 100px;
    height: 500px;
    width: 1000px;
    background-color: white;
    margin-bottom: 300px;
    }
.layot h4{
    font-size: 15px;
margin-left: -520px;
margin-top: -30px;
}
.layot2 h4{
    font-size: 15px;
margin-left: -520px;
margin-top: 0px;
}
.layot h5{
    margin-left: -450px;
    margin-top: -5px;
}
.layot2 h5{
    margin-left: -450px;
    margin-top: -5px;
}
.line::before{
    content:'or';
    font-size: 20px;
    width: 400px;
    color: black;
    height: 2px;
}
a button{
    width: 600px;
    background-color: green;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 20px;

}
.progess{
    margin-top: 0px;
}
span{
    color:red
}
button{
    background-color: green;
    width: 600px;
    color: white;
    cursor: pointer;
    border-radius: 50px;

}
button:hover{
background-color: brown;
}
button h6{
    color: white;
    margin-top: 15px;
    font-size: 20px;
}
.text12{
    margin-left: 0px;
    font-size:24px;
    margin-bottom:50px;
    margin-top: 50px;
}
 .check{
    margin-right:10px;
width: 25px;
height: 25px;    
}
.Name{
    margin-right: 500px;
    margin-top: -70px;
}
