.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.field {
  width: 700px;

}
.pointing{
  width: 100%;
}
.dropdown{
  height: 0px;
}
.ui{
  font-size: 25px;
}

.image{
font-size: 30px;
}
.visible{
  height: 100px;
}
.item{
  margin-bottom: 15px;
  margin-right: 20px;

}
a{
  margin-right: 300px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
